html {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Schooler {
    margin-top: 101px;
    font-size: 64px;
    font-weight: bold;
    color: #40403E;
}

body {
    height: 100%;
}

.total {
    margin-top: 97px;
}

.ct1 {
    display: flex;
    justify-content: center;
    margin-left: 77.5px;
    margin-right: 75.5px;

}

.text_blue {
    width: 419px;
    height: 278px;
    background-color: #202D59;
    padding-top: 33px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.box1 {
    height: 21px;
    display: flex;
    align-content: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 45px;
}

.box2 {
    display: flex;
    flex-direction: column;
    height: 21px;
    margin-left: 60px;
}

.box3 {
    color: #000000;
    width: 422px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.box4 {
    color: #000000;
    display: flex;
    flex-direction: column;
    height: 21px;
    margin-left: 72px;
}

.box5 {
    width: 570px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box6 {
    color: #000000;
    display: flex;
    flex-direction: column;
    height: 21px;
    margin-left: 78px;
    margin-top: 54px;
}


.contenthead {
    font-size: 14px;
    font-weight: bold;
    margin-left: 53px;
}

.buttom {
    height: 16px;
    color: #F16C6C;
    margin-right: 29.5px;
    border: none;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    font-size: 7px;
}

.buttom:hover {
    border: none;
    color: black;
    background-color: #E37272;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.26);
    border-radius: 50px;
    height: 16px;
}

.cn1 {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.cn2 {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cn3 {
    display: flex;
    align-items: center;
    margin-top:16px;
}

.content1 {
    font-size: 13px;
    font-weight: bold;
    margin-right: 29px;
}

.content2 {
    font-size: 11px;
}

.content3 {
    font-size: 13px;
    font-weight: bold;
    margin-right: 35px;
}

.content4 {
    font-size: 14px;
    font-weight: bold;
    margin-right: 33.5;
}

.content5 {
    margin-left:50px;
    font-size: 12px;
}

.content5:hover {
    border: none;
    color: black;
    font-weight: bold;
}


.text_white {
    width: 422px;
    height: 278px;
    background-color: #FFFFFF;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}

.ct2 {
    display: flex;
    justify-content: center;
    margin-top: 51.5px;
    margin-left: 78.5px;
    margin-right: 76px;
}

.text_board {
    width: 567px;
    height: 319px;
    background-color: #F2F2F2;
    margin-top: 28px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}

.board1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.25);
    height: 40px;
    width: 141px;
    font-size: 15px;
}

.board1:hover {
    border: none;
    color: black;
    font-weight: bold;
    background-color: #C6C6C6;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.59);
}

.board2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.25);
    height: 40px;
    width: 141px;
    font-size: 15px;
}

.board2:hover {
    border: none;
    color: black;
    font-weight: bold;
    background-color: #C6C6C6;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.59);
}

.board3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C6C6C6;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.75);
    height: 40px;
    width: 141px;
    font-size: 15px;
}

.board3:hover {
    border: none;
    color: black;
    font-weight: bold;
    background-color: #C6C6C6;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.25);
}

.board4 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C6C6C6;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.25);
    height: 40px;
    width: 141px;
    font-size: 15px;
}

.board4:hover {
    border: none;
    color: black;
    font-weight: bold;
    background-color: #C6C6C6;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.59);
}

.map {
    width: 246px;
    height: 391px;
    margin-left: 59.5px;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 4, 4, 0.25)
}

.ct3 {
    display: flex;
    justify-content: center;
    margin: 83px 98.5px 79px 88px;
}

.youtube {
    background-color: gray;
    width: 202px;
    height: 347px;
    margin-right: 96.5px;
}

.text_bigblue {
    width: 568px;
    height: 335px;
    background-color: #3B4159;
    margin-top: 24px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25)
}