.total {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Schooler {
    width: 299px;
    height: 55px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:101px;
    font-size: 64px;
    font-weight: bold;
    color: rgb(117, 116, 116);
}

.ct1{
    background-color: rgb(9, 9, 88);
    height: 278px;
    padding-top:33px;
    padding-left:45px;
    border-radius: 10px;
    margin-top:105px;
    color: white;
    
}

.com {
    display:flex;
}

.c0 {

}

.c1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.c2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}
