html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    background-color: rgb(150, 150, 150);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 26px;
    margin-bottom: 7px;
}

.box {
    background-color: white;
    border: 1px solid #525252;
    border-radius: 10px;
    width: 620px;
    height: 403px;
}

hr{
width: 585px;
}

.Schooler {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 33px;
}

.Schooler a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.sign {
    background-color: #4F6DD9;
    border-radius: 20px;
    font-weight: bold;
    padding: 3px 5px;
    font-size: 13px;
    color: white;
}

.sign a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 44px;
}

.inid {
    font-size: 15px;
}

.password {
    font-size: 15px;
}

.inpassword {
    margin-top: 15px;
}

.input {
    border: 1px solid gray;
    width: 400px;
    margin-top: 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 16px;
    border-radius: 5px;
}

.in {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginin {
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4F6DD9;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.loginin a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(246, 238, 238);
}

.missing_id {
}

.missing {
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-top:25px;
}

.missing_id a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.missing_password {
}

.missing_password a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}