html {}

.login {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.Schooler {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-left: 33px;
}

.Schooler a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.sign {
    background-color: rgb(67, 67, 255);
    border-radius: 20px;
    font-weight: bold;
    padding: 3px 5px;
    font-size: 13px;
}

.sign a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(246, 238, 238);
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 101px;
}

.inid {
    font-size: 15px;
}

.password {
    font-size: 15px;

}

.inpassword {
    margin-top: 15px;
}

.input {
    border: 1px solid gray;
    width: 400px;
    margin-top: 5px;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 16px;
    border-radius: 5px;
}

.in {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginin {
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 90, 233);
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}


.loginin a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(246, 238, 238);
}

.missing {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.missing a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}