html {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}

.box {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  position: absolute;
  top: 49px;
  right: 30px;
}

.gmail {
  color: #505050;
  margin-right: 20px;
  font-size: larger;

}

.img {
  color: #505050;
  margin-right: 20px;
  font-size: larger;

}

.img1 {
  margin-right: 20px;
}

.img2 {
  margin-right: 20px;
}

.google {
  padding: 10px;
  display: flex;
  justify-content: center;

}

.googlename {
  width: 500px;
  height: 300px;


}

.input {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  background-color: white;
  height: 77px;
  align-items: center;
  padding-right: 20px;
  padding-left: 40px;
}

.name {
  border: none;
  height: 75px;
}

.name:focus {
  outline: none;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.otherbox {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-right: 20px;
}

.other {
  width: 66px;
  height: 66px;
  text-align:center;
}

.aother {
  width: 66px;
  height: 66px;
  text-align:center;
}

.twotherbox{
  display: flex;
  justify-content: center;
  align-items:center;

}
.boxbox {
  display: flex;
  justify-content: center;
  margin-top: 46px;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}