html {
    background-color: lightblue;
  margin: 0;
  }
  
  .my-div {
    border: 1px solid red;
    text-align: center;
    padding: 100px 0;
    font-size: 500%;
    font-color:red;
    
    /* color: red; */
    /* 글자 색을 변경하고 싶을 때는 color를 사용해야합니다!! */
  }
  
  .head {
    border: 1px solid red;
    text-align: right;
    padding: 300px 0;
    font-size: 100%;
  }
  .main {
    border: 1px solid red;
    padding: 100px 0;
    font-size: 100%;
  }