html {
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
}

.box {
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  display: flex;
}

.gmail {
  color: #505050;
  margin-right: 20px;
  font-size: larger;

}

.img {
  color: #505050;
  margin-right: 20px;
  font-size: larger;

}

.img1 {
  color: #505050;
  margin-right: 20px;
  font-size: larger;
}

.img2 {
  color: #505050;
  margin-right: 20px;
  font-size: larger;
}

ul {
  /* border:5px solid blue; */
  font-size: 115px;
  /* margin: 191px 534px 520px 534px; */
  /* ???? */
  display: flex;
  list-style-type: none;
  justify-content: center;
  /* 접근은 굉장히 좋아요!! 다만 ul뿐이 아니라 ul부터 맨 밑의 요소까지 합해진 부분에(즉 .search)부분 flex center 적용시키면 더 좋을 것 같아요:) */
}

li {
  color: #5e8fde;
}
input {
  /* margin: 394px 381px 405px 380px; */
  /* border: 5px solid blue; */
  display: flex;
  flex-container: row;
  /* flex-direction: row; */
  /* 이부분을 말씀하시고 싶었던 것일까요??? */
  justify-content: center;
}
.seacrh{
  /* border: 5px solid blue; */
}